@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital@0;1&family=Source+Sans+Pro&display=swap");
html,
body {
  position: relative;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #2C4058;
  margin: 0;
  padding: 0;
}

.header__title {
  -webkit-animation: bounceInLeft;
          animation: bounceInLeft;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.header__subtitle {
  -webkit-animation: bounceInRight;
          animation: bounceInRight;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.popup {
  width: 390px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__img,
.back__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  text-align: center;
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.header {
  position: relative;
}
.header__text {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 2;
  width: 900px;
}
.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5rem;
  color: #fff;
  letter-spacing: 0.1em;
}
.header__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #fff;
  letter-spacing: 0.3em;
}
.header__arrow {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #fff;
  border: 2px #fff solid;
  border-radius: 100%;
  width: 30px;
  margin: auto;
  opacity: 0.7;
  margin-bottom: 150px;
}
.header__arrow:hover, .header__arrow:active {
  background: #fff;
  color: black;
  cursor: pointer;
}

.back {
  position: relative;
}
.back::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(206.57deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  z-index: 2;
  opacity: 0.8;
}

.navigation {
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.nav__burger {
  display: none;
}
@media (max-width: 768px) {
  .nav__burger:checked ~ .menu {
    right: 0;
    visibility: visible;
  }
  .nav__burger:checked ~ .nav__burger-img {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav__burger:checked ~ .nav__burger-img::before {
    visibility: hidden;
  }
  .nav__burger:checked ~ .nav__burger-img::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
}
.nav__burger-img {
  display: none;
}
@media (max-width: 768px) {
  .nav__burger-img {
    width: 40px;
    height: 2px;
    position: relative;
    display: inline-block;
    background: #fff;
    top: -5px;
    right: 0;
    vertical-align: middle;
  }
  .nav__burger-img::before, .nav__burger-img::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 9px;
  }
  .nav__burger-img::after {
    top: -9px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  /*     @media (max-width: 768px) {
          & :first-child {
              align-self: normal;
          }
      } */
  /*     &__link,
      &__link:active {
          text-decoration: none;
          @include font(
              $main-font-family,
              $main-font-size,
              500,
              26px,
              $main-font-color
          );

          &:hover {
              color: #8a40ee;
          }
      } */
}
@media (max-width: 992px) {
  .menu {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .menu {
    position: absolute;
    visibility: hidden;
    right: -100%;
    top: 44px;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 4;
    background: #6ca0e0;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.menu__item {
  text-decoration: none;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1rem;
  color: #fff;
  /*         &:hover::after {
              content: '';
              display: inline-block;
              width: 60%;
              height: 1px;
              background: $extra-font-color;
              position: absolute;
              bottom: -5px;
              left: 70%;
              transform: translateX(-50%);
          } */
}
.menu__item:hover::before {
  background: #fff;
}
.menu__item::before {
  content: "";
  border: 1px #fff solid;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .menu__item {
    margin: 0 0;
    padding: 15px 20px;
    text-align: center;
    -webkit-box-shadow: inset 0 0 4px 1px #1c5371;
            box-shadow: inset 0 0 4px 1px #1c5371;
  }
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.icons__item {
  width: 20px;
  height: 20px;
  fill: #fff;
  border: 1px rgba(255, 255, 255, 0.8) solid;
  padding: 10px;
  border-radius: 10%;
}
.icons__item:hover {
  fill: #2C4058;
  background: #fff;
}

.main {
  max-width: 1600px;
}

.projects__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: #2C4058;
  text-align: center;
  margin: 90px 0;
  position: relative;
}
.projects__title::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background: #2C4058;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.projects__item_trade {
  margin-right: 215px;
}
.projects__item_commerce {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 150px 0 150px 215px;
}
.projects__letters {
  max-width: 470px;
  margin-top: 150px;
}
.projects__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #2C4058;
}
.projects__title2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: #2C4058;
}
.projects__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #2C4058;
  margin-bottom: 40px;
}
.projects__coordinates {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1rem;
  color: #2C4058;
  font-style: italic;
  margin-top: 60px;
}
.projects__marker {
  margin-right: 10px;
}

.button {
  position: relative;
}
.button .button__summary {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1rem;
  color: #000;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border: 1px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 0;
  width: 190px;
  text-align: center;
  border-radius: 5px;
  list-style: none;
}
.button .button__summary:hover, .button .button__summary:active {
  background: -o-linear-gradient(212.9deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  color: #fff;
  cursor: pointer;
}
.button__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #2C4058;
  position: absolute;
  top: 60px;
  left: 0;
  background: #fff;
  -webkit-animation: ani 2s linear forwards;
          animation: ani 2s linear forwards;
}

@-webkit-keyframes ani {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 0.9rem;
  }
}

@keyframes ani {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 0.9rem;
  }
}
.news {
  background: url("../img/back_news.jpg");
  padding: 120px 215px;
  position: relative;
}
.news__title {
  margin: 0;
  margin-bottom: 90px;
}
.news__slide {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news__wrapper {
  padding-bottom: 50px;
}
.news__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  color: #2C4058;
  max-width: 300px;
}
.news__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: #2C4058;
  max-width: 300px;
  text-align: left;
}
.news__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.news__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: normal;
      align-self: normal;
  margin: 0 0 30px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.news__name {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #2C4058;
}
.news__date {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  color: #55B7FF;
  text-align: left;
}
.news__slider {
  position: relative;
}
.news__nutton {
  position: absolute;
  top: 50 px;
  right: -50px;
}

.main__arrow_next {
  color: #fff;
  border: 2px #fff solid;
  border-radius: 50%;
  width: 30px;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  right: 120px;
  text-align: center;
}
.main__arrow_next:hover, .main__arrow_next:active {
  background: #fff;
  color: black;
  cursor: pointer;
}

.main__arrow_prev {
  color: #fff;
  border: 2px #fff solid;
  border-radius: 50%;
  width: 30px;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 120px;
  text-align: center;
}
.main__arrow_prev:hover, .main__arrow_prev:active {
  background: #fff;
  color: black;
  cursor: pointer;
}

.gallery {
  padding: 50px 215px 150px 215px;
}
.gallery__button {
  text-decoration: none;
  margin: auto;
  margin-top: 60px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1rem;
  color: #000;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border: 1px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 0;
  width: 190px;
  text-align: center;
  border-radius: 5px;
}
.gallery__button:hover, .gallery__button:active {
  background: -o-linear-gradient(212.9deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  color: #fff;
  cursor: pointer;
}
.gallery__city {
  display: grid;
  grid-template-columns: repeat(4, minmax(260px, auto));
  gap: 10px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.gallery__photo_big {
  grid-area: span 2/span 2;
}

.map {
  height: 700px;
}

.footer {
  position: relative;
  background: url("../img/back_footer.jpg");
  padding: 190px 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__end {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  color: #fff;
  margin-top: 40px;
}

.form {
  position: absolute;
  top: -60%;
  left: 50%;
  background: url("../img/back_form.jpg");
  background-size: cover;
  padding: 60px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 10px;
}
.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
.form__title {
  margin: 30px 0;
}
.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
}
.form__email, .form__phone {
  text-decoration: none;
  color: #2C4058;
}
.form__name {
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 0;
  border-bottom: 1px solid #E5E5E5;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #000;
}
.form ::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #4B5562;
}
.form ::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #4B5562;
}
.form :-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #4B5562;
}
.form ::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #4B5562;
}
.form ::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #4B5562;
}
.form__icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.form__button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #000;
  border: 1px solid #2C4058;
  border-radius: 5px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  width: 140px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.form__button:hover, .form__button:active {
  background: -o-linear-gradient(212.9deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  color: #fff;
  cursor: pointer;
}