$main-font-size: 18px;
$main-font-color: #2C4058;
$button-font-color: #000;
$extra-font-color: #fff;
$main-back-color: #55B7FF;
$main-back-color: #7E5AFF;
$main-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Montserrat', sans-serif;
$menu-font-family: 'Source Sans Pro', sans-serif;